body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-content {
    margin-top: 83px;
}

.container {
    padding: 0;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #333333;
}

.width100p {
    width: 100%;
    padding: 10px;
}

a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: #333333;
}

#boder-radious-zero {
    border-radius: 0px;
}

.container-fluid {
    padding: 0;
}

.btn {
    border-radius: 0px;
}

#nav {
    background-color: #fff;
    top: 33px;
    transition: top 0.3s;
    font-family: 'Inconsolata', monospace;
    ;

    &-bar {
        width: 75%;
        margin: auto;
    }

    &-list :hover {
        background-color: #42ccae;
    }

    &-btn {
        background-color: #42ccae;
    }
}



#mySlides-1 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-1.jpg);
    background-size: cover;
    background-position: center;
}

#mySlides-2 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-2.jpg);
    background-size: cover;
    background-position: center;
}

#mySlides-3 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-3.jpg);
    background-size: cover;
    background-position: center;
}


.mySlides {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}



/*.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}*/


.shadow {
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
}

.top-header {
    z-index: 1031;
    background-color: #42ccae;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height: 33px;

    ul {
        list-style-type: none;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Inconsolata', monospace;

        li {
            float: left;
            padding: 8px 50px;
            height: 100%;

            i {
                padding: 0px 5px;
            }

            a {
                padding: 6px 10px;
                border: 1px solid;
            }
        }
    }
}

///---register---///

.regEntreprenuer {
    display: none;
}

.regInvestor {
    display: none;
}

#logoutForm {
    margin-top: -15px;
}

.regButton {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.regForm {
    width: 610px;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: 1px solid;
    box-shadow: 5px;
    font-size: 1.3rem;
    font-family: 'Crimson Text', serif;
    text-align: center;

    &-form {
        width: 90%;
        margin: auto;
    }

    h4 {
        border-bottom: 1px solid;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

///---- Index - section - projectCategory ----///
.second-part {
    width: 70%;
    margin: 4rem auto 0px auto;
    padding-bottom: 6rem;
    border-bottom: 1px solid;
}

.projectCategory {
    width: 100%;
    margin-bottom: 4rem;

    &-ul {
        list-style-type: none;
        float: left;
    }

    &-li {
        float: left;
        padding: 10px 15px;

        &:first-child {
            margin-left: -40px;
            padding-left: 0;
        }

        &-a {
            border: none;
            padding: 8px 0px;
            background-color: #fff;

            &:first-child {
                padding-left: 0;
            }

            &:hover {
                border-bottom: 1px solid;
            }
        }
    }
}

.category-projects {
    width: 100%;
    height: 55vh;

    &-big {
        width: 50%;
        float: left;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &-box {
        height: 100%;
        width: 50%;
        float: left;
        font-size: 13px;

        &-list {
            width: 100%;
            height: 85%;
            overflow: auto;
            padding-right: 20px;


            ul {
                list-style: none;
                width: 100%;

                

                li {
                    border-bottom: 1px solid;

                    .group:last-child{
                        border-bottom: none;
                    }
                    
                }

                
            }

            &-image {
                width: 30%;
                float: left;
                height: 100%;

                img {
                    display: block;
                }
            }

            &-info {
                width: 70%;
                float: left;
            }
        }

        &-all {
            padding: 50px 0px 0px 40px;

            a {
                padding: 8px 25px;
                background-color: #42ccae;
            }
        }
    }
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}





.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
