* {
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer {
    background-color: #333;
    padding-top: 35px;
    padding-bottom: 30px;
}

.container {
    height: 100%;
}

.main-content {
    margin-top: 83px;
    padding: 0;
    height: auto;
}

.content {
    margin-top: 40px;
    padding: 0;
    height: auto;
}

.container {
    padding: 0;
}

.middle {
    margin: auto;
    width: 70%;
    top: 50%;
    transform: translateY(50%);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #333333;
}

.width100p {
    width: 100%;
    padding: 10px;
}

a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: #333333;
}

#boder-radious-zero {
    border-radius: 0px;
}

.container-fluid {
    padding: 0;
}

.btn {
    border-radius: 0px;

    &-reg {
        margin-top: 20px;
        background-color: #42ccae;
        padding: 8px 40px 8px 14px;
    }

    &-default {
        padding: 8px 20px;
        color: #fff;
        background-color: #42ccae;
        border: none;
    }
}

#nav {
    background-color: #fff;
    top: 40px;
    transition: top 0.3s;
    font-family: 'Lato', sans-serif;
    ;

    &-bar {
        width: 75%;
        margin: auto;
    }

    &-list :hover {
        background-color: #42ccae;
        color: #fff;
    }

    &-btn {
        background-color: #42ccae;
    }
}



#mySlides-1 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-1.jpg);
    background-size: cover;
    background-position: center;
}

#mySlides-2 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-2.jpg);
    background-size: cover;
    background-position: center;
}

#mySlides-3 {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.4), rgba(0,0,0,.5)), url(/images//img-3.jpg);
    background-size: cover;
    background-position: center;
}


.mySlides {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 50%;
    padding: 35px 30px 60px 30px;
    background-color: rgba(45, 52, 54,.80);

    h1 {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 50px;
        letter-spacing: 4px;
    }

    &-create-project {
        padding: 14px 30px;
        background-color: #42ccae;
    }
}



/*.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}*/


.shadow {
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
}

.top-header {
    z-index: 1031;
    background-color: #42ccae;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height: 40px;

    .login-form-left {
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Inconsolata', monospace;
        margin: 0;
        padding: 2px 0 0 0;

        li {
            float: left;
            padding: 8px 50px;
            height: 100%;

            i {
                padding: 0px 5px;
            }

            a {
                padding: 6px 10px;
                border-radius: 20px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
                transition: box-shadow 0.5s;

                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
    }
}

///---register---///

.regEntreprenuer {
    display: none;
}

.regInvestor {
    display: none;
}

#logoutForm {
    margin-top: -15px;
}

.regButton {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.regForm {
    width: 610px;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: 1px solid;
    box-shadow: 5px;
    font-size: 1.3rem;
    text-align: center;

    &-form {
        width: 90%;
        margin: auto;
    }

    h4 {
        border-bottom: 1px solid;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}

///---- Index - section - projectCategory ----///
.second-part {
    width: 70%;
    margin: 4rem auto 0px auto;
    padding-bottom: 6rem;
}

.projectCategory {
    width: 100%;
    margin-bottom: 4rem;

    &-ul {
        list-style-type: none;
        float: left;
    }

    &-li {
        float: left;
        padding: 10px 15px;

        &:first-child {
            margin-left: -40px;
            padding-left: 0;
        }

        &-a {
            border: none;
            padding: 8px 0px;
            background-color: #fff;

            &:first-child {
                padding-left: 0;
            }

            &:hover {
                border-bottom: 1px solid;
            }
        }
    }
}

.category-projects {
    width: 100%;
    height: 55vh;

    &-big {
        width: 50%;
        float: left;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &-box {
        height: 100%;
        width: 50%;
        float: left;
        font-size: 13px;

        &-list {
            width: 100%;
            height: 85%;
            overflow: auto;
            padding-right: 20px;


            ul {
                list-style: none;
                width: 100%;



                li {
                    border-bottom: 1px solid;

                    .group:last-child {
                        border-bottom: none;
                    }
                }
            }

            &-image {
                width: 30%;
                float: left;
                height: 100%;
                padding: 15px 10px 10px 0px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }

            &-info {
                width: 70%;
                float: left;
            }
        }

        &-all {
            padding: 50px 0px 0px 40px;

            a {
                padding: 8px 25px;
                background-color: #42ccae;
            }
        }
    }
}


/////---- how it works -----////
.how {
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: #eee;

    &-works {
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 20px 0 20px 0;

        &-list {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 20px 0 20px 0;

            &-item {
                width: 30%;

                i {
                    font-size: 32px;
                    color: #42ccae;
                }
            }
        }
    }
}

////---- project view ----////

.project-list {
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;*/
    &-item {
        width: 27%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 600px;
        margin-bottom: 70px;
        float: left;
        margin-left: 3.05%;
        margin-right: 3.05%;

        &:hover {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        &-img {
            height: 250px;
            width: 100%;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 250px;
                width: 100%;
            }
        }

        &-info {
            padding: 3rem;
            height: 62%;
            font-size: 1.3rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            &-pledged {
                color: #42ccae;
            }
        }
    }
}


////---- Product details ----///
.product {
    width: 70%;
    margin: auto;

    &-details {
        width: 70%;
        float: left;
        padding-right: 1rem;
        margin-top: 3rem;

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            margin-bottom: 60px;
        }
    }

    &-back {
        border-top: 2px solid #42ccae;
        float: left;
        padding-left: 1rem;
        margin-top: 3rem;


        &-p {
            padding: 15px 0;
        }

        &-p-1 {
            font-size: 2.5rem;
        }

        &-p-2 {
            font-size: 1.2rem;
            line-height: 1px;
        }

        &-amount {
            color: #42ccae;
        }

        &-button {
            background-color: #42ccae;
            padding: 1.3rem 4.4rem;
            border: none;
            display: block;
            margin-top: 20px;
        }

        a {
            color: #fff;
        }
    }
}



///---- Investment ----////

.investment {
    width: 70%;
    margin: auto;
    margin-top: 100px;

    &-header {
        text-align: center;
        padding: 20px 0px;
        margin-bottom: 40px;
        width: 100%;
    }

    &-main {
        width: 100%;
    }

    &-side {
        width: 40%;
        float: right;
        padding: 60px;
        font-weight: 300;
    }

    &-body {
        width: 60%;
        float: left;


        &-item {
            width: 100%;
            padding: 20px 30px;
            border: 1px solid #dbdbdb;
            margin-bottom: 30px;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
            }

            &-1 {
                width: 70%;
            }



            &-p {
                width: 100%;
                font: 2rem;
                padding-bottom: 2.2rem;
                padding: 10px 0px;
            }

            &-div {
                width: 100%;
                margin-top: 2.2rem;

                input {
                    border: 1px solid #42ccae;

                    &:focus {
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
                    }
                }
            }

            &-amount {
                padding: 10px 20px;
                width: 65%;
            }

            &-continue {
                margin-left: 3%;
                padding: 10px 35px;
                background-color: #42ccae;
                border: none;
                color: #fff;
            }
        }
    }
}

////---- create project ----///
.create-project {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;


    &-header {
        width: 100%;

        h1 {
            padding-bottom: 30px;
        }

        a {
            padding: 16px 24px;
            background-color: #42ccae;
            color: #fff;
            display: block;
            width: 197px;
        }
    }

    &-image {
        width: 100%;
        height: 700px;
        padding: 30px 0px;

        &-1 {
            width: 50%;
            float: left;
            height: 100%;

            &-i {
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 10px 14px 10px 0px;
                overflow: hidden;
            }
        }

        &-2 {
            width: 50%;
            float: left;
            height: 50%;

            &-i {
                width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 10px 0px 10px 14px;
                overflow: hidden;
            }
        }
    }
}

.create-project-quotes {
    padding-top: 40px;
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: #42ccae;
    color: #fff;

    h1 {
        width: 80%;
        margin: auto;
        font-size: 6rem;
        padding-top: 100px;
    }
}




////----- project-category -----////

.project-category {
    width: 40%;
    margin: auto;
    padding-top: 50px;
    text-align: center;

    &-p {
        font-size: 2rem;
        color: #333;
        padding: 20px 0px;
    }

    &-list {
        width: 80%;
        margin: auto;

        textarea {
            width: 100%;
            height: 150px;
        }

        select {
            width: 100%;
            height: 45px;
        }
    }

    &-a {
        padding-top: 30px;
        width: 80%;
        margin: auto;

        input {
            padding: 12px 80px;
            color: #fff;
            background-color: #42ccae;
            display: block;
            border: none;
        }
    }

    &-foo {
        padding: 50px 10px 30px 10px;
        font-size: 12px;
        color: #444;
    }
}


////--- create-project ----////
.create {
    width: 40%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 30px;

    &-items {
        width: 80%;
        margin: auto;
    }

    &-login {
        padding-left: 20px;

        a {
            color: #42ccae;
        }
    }
}


////------ footer --------///
.footer {
    width: 70%;
    margin: auto;

    &-head {
        width: 100%;
        display: block;

        &-child {
            width: 33.33%;
            float: left;
            padding: 0px 20px;
            color: #fff;

            ul {
                list-style: none;
                padding: 0;

                li {
                    padding: 3px 0px;
                    font-size: 1.3rem;
                }
            }
        }
    }

    &-footer {
        width: 100%;
        color: #fff;
        display: block;
        padding: 30px 20px;

        &-left {
            float: left;
        }

        &-right {
            float: right;

            i {
                font-size: 20px;
                padding: 0px 10px;
            }
        }
    }
}


/////---- user dashboard ----/////
.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    border-top: 1px solid #fff;
    font-weight: 300;
    font-size: 1.7rem;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #42ccae;
    color: black;
    font-weight: 600;

}

div.content {
    margin-left: 220px;
    padding: 1px 16px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.dashboard {
    width: 100%;

    &-avater {
        width: 34%;
        background-color: #f6f6f6;
        float: left;
        padding: 10px;
        margin-right: 5px;
        text-align: center;

        &-image {
            width: 260px;
            height: auto;
            border-radius: 50%;
            margin: 0px auto;
        }
    }

    &-info {
        width: 64%;
        background-color: #f6f6f6;
        float: left;
        padding: 10px;
        margin-left: 5px;

        h4 {
            width: 100%;
        }
    }
}

.dashboard-project {
    width: 100%;
    height: auto;

    &-image {
        width: 20%;
        height: 100%;
        float: left;

        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            padding: 10px 10px 10px 0px;
        }
    }

    &-shortDes {
        width: 60%;
        height: 100%;
        float: left;
        padding: 10px 10px 10px 0px;

        .name{
            font-size: 2rem;
            font-weight: 600;
        }
    }


    &-crud {
        width: 20%;
        height: 100%;
        float: left;
        padding: 10px 10px 10px 0px;
        &-m{
            margin-top:20px;
        }
    }
}









.create-btn {
    width: 100%;
    padding: 12px 80px;
    color: #fff;
    background-color: #42ccae;
    border: none;
}

.w3-border {
    border: 1px solid #42ccae;
    margin-bottom: 10px;
}

.w3-grey {
    background-color: #42ccae;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
