body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.main-content {
  margin-top: 83px; }

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700; }

a {
  text-decoration: none;
  color: #333333; }

.width100p {
  width: 100%;
  padding: 10px; }

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
  color: #333333; }

#boder-radious-zero {
  border-radius: 0px; }

.container-fluid {
  padding: 0; }

.btn {
  border-radius: 0px; }

#nav {
  background-color: #fff;
  top: 33px;
  transition: top 0.3s;
  font-family: 'Inconsolata', monospace; }
  #nav-bar {
    width: 75%;
    margin: auto; }
  #nav-list :hover {
    background-color: #42ccae; }
  #nav-btn {
    background-color: #42ccae; }

#mySlides-1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-1.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-2.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-3.jpg);
  background-size: cover;
  background-position: center; }

.mySlides {
  width: 100%;
  height: 80vh;
  position: relative;
  text-align: center; }

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

/*.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}*/
.shadow {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%; }

.top-header {
  z-index: 1031;
  background-color: #42ccae;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  height: 33px; }
  .top-header ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Inconsolata', monospace; }
    .top-header ul li {
      float: left;
      padding: 8px 50px;
      height: 100%; }
      .top-header ul li i {
        padding: 0px 5px; }
      .top-header ul li a {
        padding: 6px 10px;
        border: 1px solid; }

.regEntreprenuer {
  display: none; }

.regInvestor {
  display: none; }

#logoutForm {
  margin-top: -15px; }

.regButton {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem; }

.regForm {
  width: 610px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid;
  box-shadow: 5px;
  font-size: 1.3rem;
  font-family: 'Crimson Text', serif;
  text-align: center; }
  .regForm-form {
    width: 90%;
    margin: auto; }
  .regForm h4 {
    border-bottom: 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 2rem; }
