body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.main-content {
  margin-top: 83px;
  padding: 0; }

.container {
  padding: 0; }

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700; }

a {
  text-decoration: none;
  color: #333333; }

.width100p {
  width: 100%;
  padding: 10px; }

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
  color: #333333; }

#boder-radious-zero {
  border-radius: 0px; }

.container-fluid {
  padding: 0; }

.btn {
  border-radius: 0px; }

#nav {
  background-color: #fff;
  top: 33px;
  transition: top 0.3s;
  font-family: 'Inconsolata', monospace; }
  #nav-bar {
    width: 75%;
    margin: auto; }
  #nav-list :hover {
    background-color: #42ccae; }
  #nav-btn {
    background-color: #42ccae; }

#mySlides-1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-1.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-2.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-3.jpg);
  background-size: cover;
  background-position: center; }

.mySlides {
  width: 100%;
  height: 80vh;
  position: relative;
  text-align: center; }

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

/*.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}*/
.shadow {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%; }

.top-header {
  z-index: 1031;
  background-color: #42ccae;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  height: 33px; }
  .top-header ul {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Inconsolata', monospace; }
    .top-header ul li {
      float: left;
      padding: 8px 50px;
      height: 100%; }
      .top-header ul li i {
        padding: 0px 5px; }
      .top-header ul li a {
        padding: 6px 10px;
        border: 1px solid; }

.regEntreprenuer {
  display: none; }

.regInvestor {
  display: none; }

#logoutForm {
  margin-top: -15px; }

.regButton {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem; }

.regForm {
  width: 610px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid;
  box-shadow: 5px;
  font-size: 1.3rem;
  font-family: 'Crimson Text', serif;
  text-align: center; }
  .regForm-form {
    width: 90%;
    margin: auto; }
  .regForm h4 {
    border-bottom: 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 2rem; }

.second-part {
  width: 70%;
  margin: 4rem auto 0px auto;
  padding-bottom: 6rem; }

.projectCategory {
  width: 100%;
  margin-bottom: 4rem; }
  .projectCategory-ul {
    list-style-type: none;
    float: left; }
  .projectCategory-li {
    float: left;
    padding: 10px 15px; }
    .projectCategory-li:first-child {
      margin-left: -40px;
      padding-left: 0; }
    .projectCategory-li-a {
      border: none;
      padding: 8px 0px;
      background-color: #fff; }
      .projectCategory-li-a:first-child {
        padding-left: 0; }
      .projectCategory-li-a:hover {
        border-bottom: 1px solid; }

.category-projects {
  width: 100%;
  height: 55vh; }
  .category-projects-big {
    width: 50%;
    float: left;
    height: 100%; }
    .category-projects-big img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
  .category-projects-box {
    height: 100%;
    width: 50%;
    float: left;
    font-size: 13px; }
    .category-projects-box-list {
      width: 100%;
      height: 85%;
      overflow: auto;
      padding-right: 20px; }
      .category-projects-box-list ul {
        list-style: none;
        width: 100%; }
        .category-projects-box-list ul li {
          border-bottom: 1px solid; }
          .category-projects-box-list ul li .group:last-child {
            border-bottom: none; }
      .category-projects-box-list-image {
        width: 30%;
        float: left;
        height: 100%; }
        .category-projects-box-list-image img {
          display: block; }
      .category-projects-box-list-info {
        width: 70%;
        float: left; }
    .category-projects-box-all {
      padding: 50px 0px 0px 40px; }
      .category-projects-box-all a {
        padding: 8px 25px;
        background-color: #42ccae; }

.how {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #eee; }
  .how-works {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px 0 20px 0; }
    .how-works-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 20px 0 20px 0; }
      .how-works-list-item {
        width: 30%; }
        .how-works-list-item i {
          font-size: 32px;
          color: #42ccae; }

.project-list {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start; }
  .project-list-item {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60vh; }
    .project-list-item:hover {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .project-list-item-img {
      height: 38%;
      width: 100%;
      object-fit: cover;
      overflow: hidden; }
    .project-list-item-info {
      padding: 3rem;
      height: 62%;
      font-size: 1.3rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between; }
      .project-list-item-info-pledged {
        color: #42ccae; }

.product {
  width: 70%;
  margin: auto; }
  .product-details {
    width: 70%;
    float: left; }
    .product-details img {
      height: 30rem;
      width: 100%;
      object-fit: cover;
      overflow: hidden; }
  .product-back {
    width: 30%;
    float: left; }

.w3-border {
  border: 1px solid #42ccae;
  margin-bottom: 10px; }

.w3-grey {
  background-color: #42ccae; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
