html {
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative; }

footer {
  background-color: #333;
  padding-top: 35px;
  padding-bottom: 30px; }

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto; }

.main-content {
  margin-top: 83px;
  padding: 0;
  height: auto; }

.content {
  margin-top: 40px;
  padding: 0;
  height: auto;
  width: 85%;
  margin-left: 15%; }

.container {
  padding: 0;
  height: 100%; }

.middle {
  margin: auto;
  width: 70%;
  top: 50%;
  transform: translateY(50%); }

.width70 {
  width: 70%;
  margin: 160px auto; }

.logo {
  font-variant: small-caps;
  font-weight: 700;
  font-size: 28px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-weight: 600; }

h2, h3 {
  font-weight: 700; }

h4, h5, h6, h7 {
  font-weight: 600; }

a {
  text-decoration: none;
  color: #333333 !important; }

.width100p {
  width: 100%;
  padding: 10px;
  margin-bottom: 100px; }

a:active, a:link, a:visited {
  color: #111; }

#boder-radious-zero {
  border-radius: 0px; }

.container-fluid {
  padding: 0;
  margin: 0; }

.btn {
  border-radius: 0px;
  text-transform: none;
  font-weight: 600;
  background-color: #42ccae !important;
  font-weight: 600; }
  .btn-reg {
    margin-top: 20px;
    background-color: #42ccae !important;
    padding: 8px 40px 8px 14px;
    text-transform: none; }
    .btn-reg:hover {
      padding: 8px 60px 8px 14px;
      background-color: #2b9f86;
      text-decoration: none; }
  .btn-default {
    padding: 8px 20px;
    color: #fff;
    background-color: #42ccae;
    border: none;
    text-transform: none; }
    .btn-default:hover {
      background-color: #2b9f86; }

#nav {
  background-color: #fff;
  top: 40px;
  transition: top 0.3s;
  height: 50px; }
  #nav-bar {
    width: 75%;
    margin: auto; }
  #nav-list a {
    font-weight: 600;
    color: #555;
    text-transform: uppercase; }
  #nav-list :hover {
    background-color: #42ccae;
    color: #fff; }
  #nav-btn {
    background-color: #42ccae; }

#mySlides-1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-1.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-2.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-3.jpg);
  background-size: cover;
  background-position: center; }

.sidebarBtn {
  width: 100%;
  top: 40px;
  display: none; }

.mySlides {
  width: 100%;
  height: 80vh;
  position: relative;
  text-align: center; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 50%;
  padding: 35px 30px 60px 30px;
  background-color: rgba(45, 52, 54, 0.8); }
  .centered h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 4px; }
  .centered-create-project {
    padding: 14px 30px;
    background-color: #42ccae;
    font-weight: 400; }

.shadow {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%; }

.top-header {
  z-index: 1031;
  background-color: #42ccae;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  height: 40px; }
  .top-header .login-form-left {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 2px 0 0 0; }
    .top-header .login-form-left li {
      float: left;
      padding: .7% 4%;
      height: 100%; }
      .top-header .login-form-left li i {
        padding: 0px 5px; }
      .top-header .login-form-left li a {
        padding: 6px 10px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.5s; }
        .top-header .login-form-left li a:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.regEntreprenuer {
  display: none; }

.regInvestor {
  display: none; }

#logoutForm {
  margin-top: -15px; }

.regButton {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem; }
  .regButton button {
    border: none;
    background-color: transparent;
    padding: 20px 40px; }
    .regButton button:hover {
      border-bottom: 3px solid #2b9f86; }

.regForm {
  width: 40%;
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: none;
  box-shadow: 5px;
  font-size: 1.3rem;
  text-align: center; }
  .regForm-form {
    width: 90%;
    margin: auto; }
  .regForm h4 {
    border-bottom: 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 2rem; }

.second-part {
  width: 70%;
  margin: 4rem auto 0px auto;
  padding-bottom: 6rem; }

.projectCategory {
  width: 100%;
  margin-bottom: 30px; }
  .projectCategory-ul {
    list-style-type: none;
    float: left; }
  .projectCategory-li {
    float: left;
    padding: 10px 15px; }
    .projectCategory-li:first-child {
      margin-left: -40px;
      padding-left: 0; }
    .projectCategory-li-a {
      border: none;
      padding: 8px 0px;
      background-color: #fff; }
      .projectCategory-li-a:first-child {
        padding-left: 0; }
      .projectCategory-li-a:hover {
        border-bottom: 1px solid; }

.category-projects {
  width: 100%;
  height: 673px; }
  .category-projects-big {
    width: 50%;
    float: left;
    height: 100%;
    position: relative; }
    .category-projects-big-favourite {
      top: 20px;
      right: 20px; }
    .category-projects-big img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      overflow: hidden; }
  .category-projects-box {
    height: 100%;
    width: 50%;
    float: left;
    font-size: 15px; }
    .category-projects-box-list {
      width: 100%;
      height: 85%;
      overflow: auto;
      padding-right: 20px; }
      .category-projects-box-list ul {
        list-style: none;
        width: 100%; }
        .category-projects-box-list ul li {
          border-bottom: 1px solid #ddd; }
          .category-projects-box-list ul li .group:last-child {
            border-bottom: none; }
      .category-projects-box-list-image {
        width: 30%;
        float: left;
        height: 120px;
        padding: 15px 10px 10px 0px; }
        .category-projects-box-list-image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .category-projects-box-list-info {
        width: 70%;
        float: left;
        position: relative; }
        .category-projects-box-list-info-desc {
          font-size: 14px; }
        .category-projects-box-list-info-favourite {
          bottom: 5px;
          right: 5px; }
          .category-projects-box-list-info-favourite i {
            font-weight: 500; }
    .category-projects-box-all {
      padding: 50px 0px 0px 40px; }
      .category-projects-box-all a {
        padding: 8px 25px;
        background-color: #42ccae;
        font-weight: 600;
        color: #fff; }
        .category-projects-box-all a:hover {
          background-color: #fff;
          color: #333;
          text-decoration: none; }

.how {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #eee; }
  .how-works {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px 0 20px 0; }
    .how-works h1 {
      padding-bottom: 50px; }
    .how-works p {
      font-size: 20px;
      font-weight: 400;
      line-height: 2; }
    .how-works-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0 20px 0; }
      .how-works-list-item {
        width: 30%; }
        .how-works-list-item h2 {
          font-weight: 500; }
        .how-works-list-item i {
          font-size: 32px;
          color: #42ccae;
          padding-bottom: 20px; }

.project-list {
  width: 80%;
  margin: 160px auto 40px auto;
  /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;*/ }
  .project-list-item {
    width: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
    margin-bottom: 70px;
    float: left;
    margin-left: 3.05%;
    margin-right: 3.05%; }
    .project-list-item:hover {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .project-list-item-img {
      height: 250px;
      width: 100%;
      overflow: hidden;
      position: relative; }
      .project-list-item-img img {
        object-fit: cover;
        height: 250px;
        width: 100%; }
      .project-list-item-img-favourite {
        top: 20px;
        right: 30px; }
    .project-list-item-info {
      padding: 3rem;
      height: 62%;
      font-size: 1.3rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between; }
      .project-list-item-info-pledged {
        color: #42ccae; }
  .project-list-page {
    width: 100%;
    margin-top: 30px; }
    .project-list-page ul {
      width: 100%;
      height: 100%; }
      .project-list-page ul li {
        float: left;
        margin: 0px 3px;
        padding: 5px 8px; }
  .project-list .search-category {
    width: 60%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px; }
    .project-list .search-category select {
      padding: 16px 18px;
      border: 1px solid #42ccae;
      margin-left: 10px;
      background-color: transparent; }
    .project-list .search-category button {
      border: none;
      background-color: transparent; }
      .project-list .search-category button i {
        font-size: 20px; }
      .project-list .search-category button:hover i {
        color: #42ccae; }

.product {
  width: 70%;
  margin: auto;
  margin-top: 130px; }
  .product-details {
    width: 70%;
    float: left;
    padding-right: 1rem;
    margin-top: 3rem; }
    .product-details p {
      line-height: 2; }
    .product-details img {
      height: auto;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      margin-bottom: 60px; }
      .product-details img:first-child {
        height: 550px; }
    .product-details-video {
      padding-top: 50px;
      width: 560px;
      margin: auto; }
    .product-details-viewed {
      margin-top: 30px;
      text-align: center;
      padding: 13px 23px;
      background-color: #42ccae; }
  .product-back {
    border-top: 2px solid #42ccae;
    float: left;
    padding-left: 1rem;
    margin-top: 3rem; }
    .product-back-p {
      padding: 15px 0; }
    .product-back-p-1 {
      font-size: 2.5rem; }
    .product-back-p-2 {
      font-size: 1.2rem;
      line-height: 1px; }
    .product-back-amount {
      color: #42ccae; }
    .product-back-button {
      background-color: #42ccae;
      padding: 1.3rem 4.4rem;
      border: none;
      display: block;
      margin-top: 20px; }
    .product-back a {
      color: #fff; }

.fixed {
  position: fixed;
  top: 3rem; }

.investment {
  width: 70%;
  margin: auto;
  margin-top: 100px; }
  .investment-header {
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 40px;
    width: 100%; }
  .investment-main {
    width: 100%; }
  .investment-side {
    width: 40%;
    float: right;
    padding: 60px;
    font-weight: 400; }
  .investment-body {
    width: 60%;
    float: left; }
    .investment-body-item {
      width: 100%;
      padding: 20px 30px;
      border: 1px solid #dbdbdb;
      margin-bottom: 30px; }
      .investment-body-item:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
      .investment-body-item-1 {
        width: 70%; }
      .investment-body-item-p {
        width: 100%;
        font: 2rem;
        padding-bottom: 2.2rem;
        padding: 10px 0px; }
      .investment-body-item-div {
        width: 100%;
        margin-top: 2.2rem; }
        .investment-body-item-div input {
          border: 1px solid #42ccae; }
          .investment-body-item-div input:focus {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); }
      .investment-body-item-amount {
        padding: 10px 20px;
        width: 65%; }
      .investment-body-item-continue {
        margin-left: 3%;
        padding: 10px 35px;
        background-color: #42ccae;
        border: none;
        color: #fff; }

.create-project {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px; }
  .create-project-header {
    width: 100%; }
    .create-project-header h1 {
      padding-bottom: 30px; }
    .create-project-header a {
      padding: 16px 24px;
      background-color: #42ccae;
      color: #fff;
      display: block;
      width: 197px;
      font-weight: 600; }
  .create-project-image {
    width: 100%;
    height: 700px;
    padding: 30px 0px; }
    .create-project-image-1 {
      width: 50%;
      float: left;
      height: 100%; }
      .create-project-image-1-i {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px 14px 10px 0px;
        overflow: hidden; }
    .create-project-image-2 {
      width: 50%;
      float: left;
      height: 50%; }
      .create-project-image-2-i {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px 0px 10px 14px;
        overflow: hidden; }

.create-project-quotes {
  padding-top: 40px;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: #42ccae;
  color: #fff; }
  .create-project-quotes h1 {
    width: 80%;
    margin: auto;
    font-size: 6rem;
    padding-top: 100px; }

.project-category {
  width: 40%;
  margin: auto;
  padding-top: 50px;
  text-align: center; }
  .project-category-p {
    font-size: 2rem;
    color: #333;
    padding: 20px 0px; }
  .project-category-list {
    width: 80%;
    margin: auto; }
    .project-category-list textarea {
      width: 100%;
      height: 150px; }
    .project-category-list select {
      width: 100%;
      height: 45px; }
  .project-category-a {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    font-weight: 600; }
    .project-category-a input {
      padding: 12px 80px;
      color: #fff;
      background-color: #42ccae;
      display: block;
      border: none; }
  .project-category-foo {
    padding: 50px 10px 30px 10px;
    font-size: 12px;
    color: #444; }

.create {
  width: 40%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 30px; }
  .create-items {
    width: 80%;
    margin: auto; }
  .create-login {
    padding-left: 20px; }
    .create-login a {
      color: #42ccae; }

.footer {
  width: 70%;
  margin: auto; }
  .footer-head {
    width: 100%;
    display: block; }
    .footer-head-child {
      width: 33.33%;
      float: left;
      padding: 0px 20px;
      color: #fff; }
      .footer-head-child ul {
        list-style: none;
        padding: 0; }
        .footer-head-child ul li {
          padding: 3px 0px;
          font-size: 1.3rem; }
          .footer-head-child ul li a {
            color: #fff !important; }
  .footer-footer {
    width: 100%;
    color: #fff;
    display: block;
    padding: 30px 20px; }
    .footer-footer-left {
      float: left; }
      .footer-footer-left-p {
        color: #fff; }
    .footer-footer-right {
      float: right; }
      .footer-footer-right i {
        font-size: 20px;
        padding: 0px 10px; }

.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #fff;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0; }
  .sidebar a {
    width: 100%;
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #42ccae;
    font-weight: 400;
    font-size: 1.7rem; }
    .sidebar a:hover:not(.active) {
      background-color: #42ccae;
      color: black;
      font-weight: 600; }
    .sidebar a.active {
      background-color: #4CAF50;
      color: white; }
    .sidebar a:last-child {
      border-bottom: none; }
    .sidebar a i {
      font-size: 4rem; }

.dashboard {
  width: 100%;
  padding-left: 10px; }
  .dashboard-avater {
    width: 30%;
    background-color: #f6f6f6;
    float: left;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    height: auto; }
    .dashboard-avater-image {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      margin: 0px auto;
      position: relative; }
      .dashboard-avater-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden; }
      .dashboard-avater-image-upload {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        padding: 15px; }
        .dashboard-avater-image-upload input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0; }
        .dashboard-avater-image-upload-btn {
          margin-top: 12px;
          border: 1px solid #42ccae;
          color: #42ccae;
          background-color: transparent;
          padding: 5px 22px;
          font-size: 22px;
          font-weight: 400; }
  .dashboard-info {
    width: 68%;
    background-color: #f6f6f6;
    float: left;
    padding: 10px;
    margin-left: 5px; }
    .dashboard-info h4 {
      width: 100%; }

.dashboard-project {
  width: 100%;
  height: auto;
  font-size: 14px; }
  .dashboard-project-image {
    width: 20%;
    height: 100%;
    float: left; }
    .dashboard-project-image img {
      object-fit: cover;
      height: 160px;
      width: 100%;
      padding: 10px 10px 10px 0px; }
  .dashboard-project-shortDes {
    width: 60%;
    height: 100%;
    float: left;
    padding: 10px 10px 10px 0px; }
    .dashboard-project-shortDes .name {
      font-size: 2rem;
      font-weight: 600; }
  .dashboard-project-crud {
    width: 20%;
    height: 100%;
    float: left;
    padding: 10px 10px 10px 0px; }
    .dashboard-project-crud-m {
      margin-top: 20px; }

.about {
  width: 100%; }
  .about-h1 {
    height: 110vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left, rgba(45, 52, 54, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .about-h1 h1 {
      position: absolute;
      top: 25%;
      left: 50%;
      margin: auto;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: 700;
      font-size: 55px; }
  .about-work {
    width: 60%;
    margin: -160px auto 100px auto;
    background-color: #42ccae;
    z-index: 2000;
    padding: 80px 120px;
    text-align: center; }
    .about-work h3 {
      color: #fff;
      font-weight: 600;
      line-height: 1.8; }

.latest {
  width: 80%;
  margin: 50px auto; }
  .latest-header {
    width: 100%;
    padding: 30px 0px; }
  .latest-body {
    width: 100%; }
    .latest-body-a {
      font-size: 2rem;
      font-weight: 300;
      padding: 0px 0px 3px 0px; }
      .latest-body-a:hover {
        color: #42ccae; }
    .latest-body-row {
      width: 100%;
      margin: 0;
      padding: 0; }
      .latest-body-row-item {
        width: 22.5%;
        float: left;
        margin: 10px 1.2%;
        height: 450px;
        position: relative; }
        .latest-body-row-item img {
          width: 100%;
          height: 200px;
          object-fit: cover; }
        .latest-body-row-item-content {
          padding: 5px 12px; }
          .latest-body-row-item-content h4 {
            font-weight: 500; }
          .latest-body-row-item-content p {
            font-size: 14px;
            font-weight: 400;
            padding-top: 15px; }
            .latest-body-row-item-content p a {
              font-size: 12px; }
              .latest-body-row-item-content p a:hover {
                text-decoration: underline; }
        .latest-body-row-item-favourite {
          top: 20px;
          right: 20px; }

.bkash-payment {
  margin-top: 120px;
  width: 100%;
  text-align: center; }

.user {
  position: fixed;
  top: -83px;
  width: 100%;
  height: 110vh;
  background-color: rgba(45, 52, 54, 0.9);
  z-index: 3000;
  display: none; }
  .user .x {
    position: absolute;
    top: 8%;
    right: 21%; }
    .user .x i {
      color: #42ccae;
      font-size: 30px; }
  .user-details {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center; }
    .user-details img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover; }

.works {
  width: 50%;
  margin: 120px auto;
  text-align: center; }
  .works-wh {
    padding: 20px 0px;
    line-height: 2; }
    .works-wh h1 {
      padding: 15px 0px;
      color: #42ccae; }
    .works-wh p {
      font-weight: 600; }

.contactUs {
  width: 50%;
  margin: 150px auto; }

.thanks {
  margin-top: 200px;
  width: 100%;
  text-align: center; }

.pending {
  width: 100%;
  padding: 10px; }
  .pending-companies {
    width: 22.5%;
    margin: 15px;
    float: left;
    background-color: #fcfcfc;
    padding: 10px;
    height: 300px; }
    .pending-companies p {
      font-weight: 600;
      font-size: 15px; }
      .pending-companies p a {
        font-size: 13px;
        font-weight: 700; }

.schedule-table {
  border-collapse: separate;
  width: 100%; }
  .schedule-table td, .schedule-table th {
    padding: 8px;
    text-align: left; }
  .schedule-table tr:nth-child(even) {
    background-color: #f2f2f2; }
  .schedule-table th {
    background-color: #333;
    color: white; }

.favourite {
  position: absolute;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  padding: 8px 10px;
  background: #999;
  color: #fff; }
  .favourite:hover {
    background-color: transparent;
    color: #42ccae; }

.fund {
  font-size: 13px;
  font-weight: 600; }

.user-detail {
  width: 70%;
  margin: 120px auto 100px auto; }
  .user-detail div {
    margin: 25px 0px; }
  .user-detail-country {
    margin-top: 0; }
    .user-detail-country-p {
      margin: 0;
      font-size: 14px;
      font-weight: 700; }
  .user-detail-image {
    width: 25%;
    height: 300px; }
    .user-detail-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }
  .user-detail-email {
    font-size: 15px; }
    .user-detail-email p {
      text-transform: uppercase;
      font-weight: 700; }

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
  text-decoration: underline;
  text-decoration-color: #777; }

.create-btn {
  width: 100%;
  padding: 12px 80px;
  color: #fff;
  background-color: #42ccae;
  border: none; }

.w3-border {
  border: 1px solid #42ccae;
  margin-bottom: 10px; }

.w3-grey {
  background-color: #42ccae; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

.group:before,
.group:after {
  content: "";
  display: table; }

#userAvater {
  width: 200px; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.registrationEntreprenuer {
  display: none; }

.registrationInvestor {
  display: none; }

.external-middle {
  margin: auto;
  width: 100%; }

@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; }
  .main-content {
    margin-top: 83px;
    padding: 0;
    height: auto;
    width: 100%; }
  .sidebarBtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    background-color: transparent;
    border: none;
    z-index: 3000;
    border: 1px solid #fff; }
  .content {
    margin-top: 40px;
    margin-left: 0px;
    padding: 0;
    height: auto;
    width: 100%; }
  .top-header {
    z-index: 1031;
    background-color: #42ccae;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    height: 40px; }
    .top-header .login-form-left {
      width: 100%;
      height: 100%;
      list-style-type: none;
      font-size: 15px;
      font-weight: 700;
      font-family: 'Inconsolata', monospace;
      margin: 0;
      padding: 0; }
      .top-header .login-form-left li {
        list-style-type: none;
        width: 100%;
        float: left;
        height: 100%;
        display: none;
        padding: 0px; }
        .top-header .login-form-left li:last-child {
          margin-top: 6px;
          display: block;
          text-align: center; }
        .top-header .login-form-left li a {
          padding: 6px 10px;
          border-radius: 2px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
          transition: box-shadow 0.5s; }
          .top-header .login-form-left li a:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 18px;
    line-height: 1.7; }
  #nav {
    background-color: #fff;
    top: 40px;
    transition: top 0.3s;
    height: 50px;
    width: 100%; }
    #nav-bar {
      width: 100%;
      margin: 0; }
    #nav-list a {
      font-weight: 600;
      color: #fff;
      text-transform: uppercase; }
    #nav-list :hover {
      background-color: #42ccae;
      color: #fff; }
    #nav-btn {
      background-color: #42ccae; }
    #nav .navbar-collapse {
      background-color: #333; }
    #nav .navbar-toggle {
      background-color: #333; }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 90%;
    height: auto;
    background-color: rgba(45, 52, 54, 0.8); }
    .centered h1 {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px; }
    .centered-create-project {
      padding: 14px 30px;
      background-color: #42ccae;
      font-weight: 400; }
  .second-part {
    width: 100%;
    margin: 4rem 0px 0px 0px;
    padding-bottom: 6rem; }
  .projectCategory {
    width: 100%;
    margin-bottom: 1.8rem; }
    .projectCategory-ul {
      list-style-type: none;
      float: none;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap; }
    .projectCategory-li {
      display: inline;
      float: none;
      padding: 10px 15px; }
      .projectCategory-li:first-child {
        margin-left: -40px;
        padding: 10px 15px; }
      .projectCategory-li-a {
        border: none;
        padding: 8px 0px;
        background-color: #fff; }
        .projectCategory-li-a:first-child {
          padding-left: 0; }
        .projectCategory-li-a:hover {
          border-bottom: none; }
  .category-projects {
    width: 100%;
    height: 55vh; }
    .category-projects-big {
      width: 50%;
      float: left;
      height: 100%;
      position: relative;
      display: none; }
      .category-projects-big-favourite {
        top: 20px;
        right: 20px; }
      .category-projects-big img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        overflow: hidden; }
    .category-projects-box {
      height: 100%;
      width: 100%;
      float: left;
      font-size: 1.4rem; }
      .category-projects-box-list {
        width: 100%;
        height: 85%;
        overflow: auto;
        padding-right: 0px; }
        .category-projects-box-list ul {
          list-style: none;
          width: 100%;
          padding: 5px; }
          .category-projects-box-list ul li {
            border-bottom: 1px solid #ddd; }
            .category-projects-box-list ul li .group:last-child {
              border-bottom: none; }
        .category-projects-box-list-image {
          width: 30%;
          float: left;
          height: 120px;
          padding: 15px 10px 10px 0px; }
          .category-projects-box-list-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .category-projects-box-list-info {
          width: 70%;
          float: left;
          position: relative; }
          .category-projects-box-list-info-favourite {
            bottom: 5px;
            right: 5px; }
            .category-projects-box-list-info-favourite i {
              font-weight: 500; }
      .category-projects-box-all {
        padding: 50px 0px 0px 40px; }
        .category-projects-box-all a {
          padding: 8px 25px;
          background-color: #42ccae;
          font-weight: 600;
          color: #fff; }
          .category-projects-box-all a:hover {
            background-color: #fff;
            color: #333; }
  .how {
    width: 100%;
    padding: 30px 0 30px 0;
    background-color: #eee; }
    .how-works {
      width: 100%;
      margin: auto;
      text-align: center;
      padding: 20px 10px 20px 10px; }
      .how-works h1 {
        padding-bottom: 25px; }
      .how-works p {
        font-size: 13px;
        font-weight: 400;
        line-height: 2; }
      .how-works-list {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0 20px 0; }
        .how-works-list-item {
          width: 30%; }
          .how-works-list-item h2 {
            font-weight: 500; }
          .how-works-list-item i {
            font-size: 20px;
            color: #42ccae;
            padding-bottom: 10px; }
  .latest {
    width: 100%;
    margin: 40px auto;
    padding: 10px; }
    .latest-header {
      width: 100%;
      padding: 30px 0px; }
    .latest-body {
      width: 100%; }
      .latest-body-a {
        font-size: 2rem;
        font-weight: 300;
        padding: 0px 0px 3px 0px; }
        .latest-body-a:hover {
          color: #42ccae;
          border-bottom: 3px solid #42ccae; }
      .latest-body-row {
        width: 100%;
        margin: 0;
        padding: 0; }
        .latest-body-row-item {
          width: 100%;
          float: left;
          margin: 10px 0;
          height: auto;
          position: relative; }
          .latest-body-row-item img {
            width: 100%;
            height: 200px;
            object-fit: cover; }
          .latest-body-row-item-content {
            padding: 5px 0px; }
            .latest-body-row-item-content h4 {
              font-weight: 500; }
            .latest-body-row-item-content p {
              font-size: 14px;
              font-weight: 400;
              padding-top: 15px; }
              .latest-body-row-item-content p a {
                font-size: 12px; }
                .latest-body-row-item-content p a:hover {
                  text-decoration: underline; }
          .latest-body-row-item-favourite {
            top: 20px;
            right: 20px; }
  .footer {
    width: 100%;
    margin: auto; }
    .footer-head {
      width: 100%;
      display: block; }
      .footer-head-child {
        width: 33.33%;
        float: left;
        padding: 0px 20px;
        color: #fff; }
        .footer-head-child ul {
          list-style: none;
          padding: 0; }
          .footer-head-child ul li {
            padding: 3px 0px;
            font-size: 1.1rem; }
    .footer-footer {
      width: 100%;
      color: #fff;
      display: block;
      padding: 30px 20px; }
      .footer-footer-left {
        float: left; }
      .footer-footer-right {
        float: right; }
        .footer-footer-right i {
          font-size: 16px;
          padding: 0px 10px; }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    position: absolute;
    height: auto;
    display: none;
    background-color: #333;
    z-index: 2000; }
    .sidebar a {
      display: block;
      color: #fff;
      padding: 16px;
      text-decoration: none;
      border-bottom: 1px solid #42ccae;
      font-weight: 400;
      font-size: 1.7rem; }
      .sidebar a.active {
        background-color: #4CAF50;
        color: white; }
      .sidebar a:hover:not(.active) {
        background-color: #42ccae;
        color: black;
        font-weight: 600; }
      .sidebar a:last-child {
        border-bottom: none; }
      .sidebar a i {
        font-size: 2rem; }
  .dashboard {
    width: 100%;
    padding: 10px; }
    .dashboard-avater {
      width: 100%;
      background-color: #f6f6f6;
      float: none;
      padding: 0;
      text-align: center;
      height: auto; }
      .dashboard-avater-image {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        margin: 0px auto;
        position: relative; }
        .dashboard-avater-image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden; }
        .dashboard-avater-image-upload {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.4);
          width: 100%;
          padding: 15px; }
          .dashboard-avater-image-upload input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0; }
          .dashboard-avater-image-upload-btn {
            margin-top: 12px;
            border: 1px solid #42ccae;
            color: #42ccae;
            background-color: transparent;
            padding: 5px 22px;
            font-size: 22px;
            font-weight: 400; }
    .dashboard-info {
      margin-top: 10px;
      width: 100%;
      background-color: #fff;
      padding: 0px;
      margin: 0px;
      float: none; }
      .dashboard-info h4 {
        width: 100%; }
  .product {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 10px; }
    .product p {
      text-align: justify;
      font-size: 1.5rem; }
    .product-details {
      width: 100%;
      float: left;
      padding-right: 0rem;
      margin-top: 2rem; }
      .product-details img {
        height: auto;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 60px; }
    .product-back {
      border-top: 2px solid #42ccae;
      float: left;
      padding-left: 1rem;
      margin-top: 1.5rem;
      width: 100%; }
      .product-back-p {
        padding: 10px 0; }
      .product-back-p-1 {
        font-size: 2.5rem; }
      .product-back-p-2 {
        font-size: 1.2rem;
        line-height: 1px; }
      .product-back-amount {
        color: #42ccae; }
      .product-back-button {
        background-color: #42ccae;
        padding: 1.3rem 4.4rem;
        border: none;
        display: block;
        margin-top: 20px; }
      .product-back a {
        color: #fff; }
  .dashboard-project {
    width: 100%;
    height: auto;
    font-size: 14px; }
    .dashboard-project-image {
      width: 100%;
      height: 100%;
      float: left; }
      .dashboard-project-image img {
        object-fit: cover;
        height: 160px;
        width: 100%;
        padding: 10px; }
    .dashboard-project-shortDes {
      width: 60%;
      height: 100%;
      float: left;
      padding: 10px 10px 10px 0px;
      display: none; }
      .dashboard-project-shortDes .name {
        font-size: 2rem;
        font-weight: 600; }
    .dashboard-project-crud {
      width: 100%;
      height: 100%;
      float: left;
      padding: 10px; }
      .dashboard-project-crud-m {
        margin-top: 20px; }
  .investment {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 10px; }
    .investment-header {
      text-align: center;
      padding: 10px 0px;
      margin-bottom: 40px;
      width: 100%; }
    .investment-main {
      width: 100%; }
    .investment-side {
      width: 100%;
      float: right;
      padding: 0px;
      font-weight: 400;
      text-align: center;
      font-size: 15px; }
    .investment-body {
      width: 100%;
      float: left; }
      .investment-body-item {
        width: 100%;
        padding: 20px 10px;
        border: 1px solid #dbdbdb;
        margin-bottom: 30px; }
        .investment-body-item:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
        .investment-body-item-1 {
          width: 100%; }
        .investment-body-item-p {
          width: 100%;
          font: 2rem;
          padding-bottom: 2.2rem;
          padding: 10px 0px; }
        .investment-body-item-div {
          width: 100%;
          margin-top: 2.2rem; }
          .investment-body-item-div input {
            border: 1px solid #42ccae; }
            .investment-body-item-div input:focus {
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); }
        .investment-body-item-amount {
          padding: 10px 5px;
          width: 100%;
          margin-bottom: 5px; }
        .investment-body-item-continue {
          margin-left: 0px;
          padding: 10px 35px;
          background-color: #42ccae;
          border: none;
          color: #fff; }
  .regEntreprenuer {
    display: none;
    padding: 10px; }
  .regInvestor {
    display: none;
    padding: 10px; }
  #logoutForm {
    margin-top: -15px; }
  .regButton {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0px; }
    .regButton button {
      border: none;
      background-color: transparent;
      padding: 10px 4px; }
      .regButton button:hover {
        border-bottom: 3px solid #2b9f86; }
  .regForm {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border: none;
    box-shadow: 5px;
    font-size: 1.3rem;
    text-align: center; }
    .regForm-form {
      width: 100%;
      margin: auto; }
    .regForm h4 {
      border-bottom: 1px solid;
      padding-bottom: 2rem;
      margin-bottom: 2rem; }
  .project-list {
    width: 100%;
    margin: 100px auto 40px auto;
    padding: 10px; }
    .project-list-item {
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: auto;
      margin-bottom: 10px;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 10px; }
      .project-list-item:hover {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .project-list-item-img {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative; }
        .project-list-item-img img {
          object-fit: cover;
          height: 250px;
          width: 100%; }
        .project-list-item-img-favourite {
          top: 20px;
          right: 30px; }
      .project-list-item-info {
        padding: 0px;
        height: auto;
        font-size: 1.3rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between; }
        .project-list-item-info-pledged {
          color: #42ccae; }
    .project-list-page {
      width: 100%;
      margin-top: 30px; }
      .project-list-page ul {
        width: 100%;
        height: 100%; }
        .project-list-page ul li {
          float: left;
          margin: 0px 3px;
          padding: 5px 8px; }
  .create-project {
    width: 100%;
    margin: auto;
    padding: 30px 10px; }
    .create-project-header {
      width: 100%; }
      .create-project-header h1 {
        padding-bottom: 30px; }
      .create-project-header a {
        padding: 12px 20px;
        background-color: #42ccae;
        color: #fff;
        display: block;
        width: 197px;
        font-weight: 600; }
    .create-project-image {
      width: 100%;
      height: 300px;
      padding: 30px 0px; }
      .create-project-image-1 {
        width: 50%;
        float: left;
        height: 100%; }
        .create-project-image-1-i {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 10px 4px 10px 0px;
          overflow: hidden; }
      .create-project-image-2 {
        width: 50%;
        float: left;
        height: 50%; }
        .create-project-image-2-i {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding: 10px 0px 10px 4px;
          overflow: hidden; }
  .create-project-quotes {
    padding-top: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #42ccae;
    color: #fff; }
    .create-project-quotes h1 {
      width: 80%;
      margin: auto;
      font-size: 2.7rem;
      padding: 40px 0px; }
  .project-category {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    padding: 10px; }
    .project-category-p {
      font-size: 1.6rem;
      color: #333;
      padding: 10px 0px; }
    .project-category-list {
      width: 100%;
      margin: auto; }
      .project-category-list textarea {
        width: 100%;
        height: 150px; }
      .project-category-list select {
        width: 100%;
        height: 45px; }
    .project-category-a {
      padding-top: 30px;
      width: 100%;
      margin: auto;
      font-weight: 600; }
      .project-category-a input {
        padding: 12px 80px;
        color: #fff;
        background-color: #42ccae;
        display: block;
        border: none; }
    .project-category-foo {
      padding: 50px 0px 30px 0px;
      font-size: 12px;
      color: #444; }
  .create {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 10px; }
    .create-items {
      width: 90%;
      margin: auto; }
    .create-login {
      padding-left: 20px; }
      .create-login a {
        color: #42ccae; } }
