body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px; }

footer {
  background-color: #333;
  padding-top: 35px;
  padding-bottom: 30px; }

.container {
  height: 100%; }

.main-content {
  margin-top: 83px;
  padding: 0;
  height: auto; }

.container {
  padding: 0; }

.middle {
  margin: auto;
  width: 70%;
  top: 50%;
  transform: translateY(50%); }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }

a {
  text-decoration: none;
  color: #333333; }

.width100p {
  width: 100%;
  padding: 10px; }

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
  color: #333333; }

#boder-radious-zero {
  border-radius: 0px; }

.container-fluid {
  padding: 0; }

.btn {
  border-radius: 0px; }
  .btn-reg {
    margin-top: 20px;
    background-color: #42ccae;
    padding: 8px 40px 8px 14px; }
  .btn-default {
    background-color: #42ccae; }

#nav {
  background-color: #fff;
  top: 40px;
  transition: top 0.3s;
  font-family: 'Lato', sans-serif; }
  #nav-bar {
    width: 75%;
    margin: auto; }
  #nav-list :hover {
    background-color: #42ccae;
    color: #fff; }
  #nav-btn {
    background-color: #42ccae; }

#mySlides-1 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-1.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-2.jpg);
  background-size: cover;
  background-position: center; }

#mySlides-3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(/images//img-3.jpg);
  background-size: cover;
  background-position: center; }

.mySlides {
  width: 100%;
  height: 80vh;
  position: relative;
  text-align: center; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 50%;
  padding: 35px 30px 60px 30px;
  background-color: rgba(45, 52, 54, 0.8); }
  .centered h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 4px; }
  .centered-create-project {
    padding: 14px 30px;
    background-color: #42ccae; }

/*.mySlides img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}*/
.shadow {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%; }

.top-header {
  z-index: 1031;
  background-color: #42ccae;
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  height: 40px; }
  .top-header .login-form-left {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 2px 0 0 0; }
    .top-header .login-form-left li {
      float: left;
      padding: 8px 50px;
      height: 100%; }
      .top-header .login-form-left li i {
        padding: 0px 5px; }
      .top-header .login-form-left li a {
        padding: 6px 10px;
        border-radius: 20px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.5s; }
        .top-header .login-form-left li a:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.regEntreprenuer {
  display: none; }

.regInvestor {
  display: none; }

#logoutForm {
  margin-top: -15px; }

.regButton {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 2rem; }

.regForm {
  width: 610px;
  overflow: hidden;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid;
  box-shadow: 5px;
  font-size: 1.3rem;
  text-align: center; }
  .regForm-form {
    width: 90%;
    margin: auto; }
  .regForm h4 {
    border-bottom: 1px solid;
    padding-bottom: 2rem;
    margin-bottom: 2rem; }

.second-part {
  width: 70%;
  margin: 4rem auto 0px auto;
  padding-bottom: 6rem; }

.projectCategory {
  width: 100%;
  margin-bottom: 4rem; }
  .projectCategory-ul {
    list-style-type: none;
    float: left; }
  .projectCategory-li {
    float: left;
    padding: 10px 15px; }
    .projectCategory-li:first-child {
      margin-left: -40px;
      padding-left: 0; }
    .projectCategory-li-a {
      border: none;
      padding: 8px 0px;
      background-color: #fff; }
      .projectCategory-li-a:first-child {
        padding-left: 0; }
      .projectCategory-li-a:hover {
        border-bottom: 1px solid; }

.category-projects {
  width: 100%;
  height: 55vh; }
  .category-projects-big {
    width: 50%;
    float: left;
    height: 100%; }
    .category-projects-big img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden; }
  .category-projects-box {
    height: 100%;
    width: 50%;
    float: left;
    font-size: 13px; }
    .category-projects-box-list {
      width: 100%;
      height: 85%;
      overflow: auto;
      padding-right: 20px; }
      .category-projects-box-list ul {
        list-style: none;
        width: 100%; }
        .category-projects-box-list ul li {
          border-bottom: 1px solid; }
          .category-projects-box-list ul li .group:last-child {
            border-bottom: none; }
      .category-projects-box-list-image {
        width: 30%;
        float: left;
        height: 100%; }
        .category-projects-box-list-image img {
          display: block; }
      .category-projects-box-list-info {
        width: 70%;
        float: left; }
    .category-projects-box-all {
      padding: 50px 0px 0px 40px; }
      .category-projects-box-all a {
        padding: 8px 25px;
        background-color: #42ccae; }

.how {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: #eee; }
  .how-works {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px 0 20px 0; }
    .how-works-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 20px 0 20px 0; }
      .how-works-list-item {
        width: 30%; }
        .how-works-list-item i {
          font-size: 32px;
          color: #42ccae; }

.project-list {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
  /*display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;*/ }
  .project-list-item {
    width: 27%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
    margin-bottom: 70px;
    float: left;
    margin-left: 3.05%;
    margin-right: 3.05%; }
    .project-list-item:hover {
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .project-list-item-img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      overflow: hidden; }
    .project-list-item-info {
      padding: 3rem;
      height: 62%;
      font-size: 1.3rem;
      display: flex;
      flex-flow: column;
      justify-content: space-between; }
      .project-list-item-info-pledged {
        color: #42ccae; }

.product {
  width: 70%;
  margin: auto; }
  .product-details {
    width: 70%;
    float: left;
    padding-right: 1rem;
    margin-top: 3rem; }
    .product-details img {
      height: 30rem;
      width: 100%;
      object-fit: cover;
      overflow: hidden; }
  .product-back {
    border-top: 2px solid #42ccae;
    float: left;
    padding-left: 1rem;
    margin-top: 3rem; }
    .product-back-p {
      padding: 10px 0; }
    .product-back-p-1 {
      font-size: 2.5rem; }
    .product-back-p-2 {
      font-size: 1.2rem;
      line-height: 1px; }
    .product-back-amount {
      color: #42ccae; }
    .product-back-button {
      background-color: #42ccae;
      padding: .9rem 4.4rem;
      color: #fff;
      border: none;
      margin-top: 20px; }

.investment {
  width: 70%;
  margin: auto; }
  .investment-header {
    text-align: center; }
  .investment-body {
    width: 100%; }
    .investment-body-item {
      width: 60%;
      padding: 20px 30px;
      border: 1px solid;
      margin-bottom: 30px; }
      .investment-body-item p {
        width: 100%;
        font: 2rem;
        padding-bottom: 2.2rem; }
      .investment-body-item-div {
        width: 100%;
        padding-top: 2.2rem; }
      .investment-body-item-amount {
        padding: 10px 20px;
        width: 65%; }
      .investment-body-item-continue {
        margin-left: 3%;
        padding: 10px 45px;
        background-color: #42ccae;
        border: none;
        color: #fff; }

.create-project {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px; }
  .create-project-header {
    width: 100%; }
    .create-project-header h1 {
      padding-bottom: 30px; }
    .create-project-header a {
      padding: 16px 24px;
      background-color: #42ccae;
      color: #fff;
      display: block;
      width: 197px; }
  .create-project-image {
    width: 100%;
    height: 700px;
    padding: 30px 0px; }
    .create-project-image-1 {
      width: 50%;
      float: left;
      height: 100%; }
      .create-project-image-1-i {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px 14px 10px 0px;
        overflow: hidden; }
    .create-project-image-2 {
      width: 50%;
      float: left;
      height: 50%; }
      .create-project-image-2-i {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 10px 0px 10px 14px;
        overflow: hidden; }

.create-project-quotes {
  padding-top: 40px;
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: #42ccae;
  color: #fff; }
  .create-project-quotes h1 {
    width: 80%;
    margin: auto;
    font-size: 6rem;
    padding-top: 100px; }

.project-category {
  width: 40%;
  margin: auto;
  padding-top: 50px;
  text-align: center; }
  .project-category-p {
    font-size: 2rem;
    color: #333;
    padding: 20px 0px; }
  .project-category-list {
    width: 80%;
    margin: auto; }
    .project-category-list textarea {
      width: 100%;
      height: 150px; }
    .project-category-list select {
      width: 100%;
      height: 45px; }
  .project-category-a {
    padding-top: 30px;
    width: 80%;
    margin: auto; }
    .project-category-a input {
      padding: 12px 80px;
      color: #fff;
      background-color: #42ccae;
      display: block;
      border: none; }
  .project-category-foo {
    padding: 50px 10px 30px 10px;
    font-size: 12px;
    color: #444; }

.create {
  width: 40%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 30px; }
  .create-items {
    width: 80%;
    margin: auto; }
  .create-login {
    padding-left: 20px; }
    .create-login a {
      color: #42ccae; }

.footer {
  width: 70%;
  margin: auto; }
  .footer-head {
    width: 100%;
    display: block; }
    .footer-head-child {
      width: 33.33%;
      float: left;
      padding: 0px 20px;
      color: #fff; }
      .footer-head-child ul {
        list-style: none;
        padding: 0; }
        .footer-head-child ul li {
          padding: 3px 0px;
          font-size: 1.3rem; }
  .footer-footer {
    width: 100%;
    color: #fff;
    display: block;
    padding: 30px 20px; }
    .footer-footer-left {
      float: left; }
    .footer-footer-right {
      float: right; }
      .footer-footer-right i {
        font-size: 20px;
        padding: 0px 10px; }

.create-btn {
  width: 100%;
  padding: 12px 80px;
  color: #fff;
  background-color: #42ccae;
  border: none; }

.w3-border {
  border: 1px solid #42ccae;
  margin-bottom: 10px; }

.w3-grey {
  background-color: #42ccae; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000000; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
