<style >
.button {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.button:hover span {
    padding-right: 25px;
}

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

/*box > .icon {
            text-align: left;
            position: relative;
        }
         .box > .icon > .image {
            position: center;
            z-index: 5;
            margin: auto;
            width: 90px;
            height: 90px;
            border: 1px solid white;
            border-color: #42ccae;
            line-height: 88px;
            border-radius: 50%;
            background: #F0F0F0;
            vertical-align: middle;
        }
         .box > .icon:hover > .image {
            background: #42ccae;
           
        }
         .box > .icon > .image > i {
            font-size: 36px !important;
            color: #42ccae !important;
            position:sticky;
        }
         .box > .icon:hover > .image > i {
            color: white !important;
        }*/
.box > .icon {
    text-align: center;
    position: relative;
}

    .box > .icon > .image {
        position: relative;
        z-index: 2;
        margin: auto;
        width: 88px;
        height: 88px;
        border: 1px solid white;
        border-color: #42ccae;
        line-height: 88px;
        border-radius: 50%;
        background: #F0F0F0;
        vertical-align: middle;
    }

    .box > .icon:hover > .image {
        background: #42ccae;
    }

    .box > .icon > .image > i {
        font-size: 36px !important;
        color: #42ccae !important;
    }

    .box > .icon:hover > .image > i {
        color: white !important;
    }

    .box > .icon > .info {
        margin-top: -24px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #e0e0e0;
        padding: 15px 0 10px 0;
    }

    .box > .icon:hover > .info {
        background: rgba(0, 0, 0, 0.04);
        border-color: #e0e0e0;
    }

    .box > .icon > .info > h2.title {
        font-family: "Roboto",sans-serif !important;
        font-size: 16px;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        font-family: "Roboto",sans-serif !important;
        font-size: 13px;
        line-height: 1.5em;
        margin: 20px;
    }

    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    }

    .box > .icon > .info > .more a {
        font-family: "Roboto",sans-serif !important;
        font-size: 12px;
        color: #222;
        line-height: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .box > .icon:hover > .info > .more > a {
        padding: 6px 8px;
    }

.box .space {
    height: 30px;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.box > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    color: white;
}

.box > .icon > .info > h3.title {
    font-family: "Roboto",sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}

.box > .icon > .info > p {
    font-family: "Roboto",sans-serif !important;
    font-size: 13px;
    line-height: 1.5em;
    margin: 20px;
}

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
}

.box > .icon > .info > .more a {
    font-family: "Roboto",sans-serif !important;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
}

.box .space {
    height: 30px;
}

</style >
