@model CrowdFunding.Models.Funded

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Funded</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvestmentId" class="control-label"></label>
                <select asp-for="InvestmentId" class="form-control" asp-items="ViewBag.InvestmentId"></select>
                <span asp-validation-for="InvestmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestorId" class="control-label"></label>
                <select asp-for="InvestorId" class="form-control" asp-items="ViewBag.InvestorId"></select>
                <span asp-validation-for="InvestorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaisedAmount" class="control-label"></label>
                <input asp-for="RaisedAmount" class="form-control" />
                <span asp-validation-for="RaisedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsLive" /> @Html.DisplayNameFor(model => model.IsLive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
