@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutDashboard";
}

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="dashboard">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <div class="dashboard-avater">
            <div class="dashboard-avater-image">
                @if (!string.IsNullOrEmpty(Model.Input.Image))
                {
                    <img src="~/images/@Model.Input.Email/@Model.Input.Image" alt="Alternate Text" />
                }
                else
                {
                    <img src="~/images/user.png" alt="Alternate Text" />
                }

                <div class="dashboard-avater-image-upload">
                    <input id="userAvater" type="file" name="userAvater" multiple />
                    <button class="dashboard-avater-image-upload-btn"><i class="fas fa-camera"></i></button>
                </div>



            </div>
            <h4>@Model.Input.FName @Model.Input.LName</h4>
        </div>
        <div class="dashboard-info">
            <h4>Update your information</h4>
            <hr />
            <div class="row">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="input-group">
                                <input asp-for="Input.Email" class="form-control" />
                                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                            </div>
                        }
                        else
                        {
                            <input asp-for="Input.Email" class="form-control" />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.FName"></label>
                        <input asp-for="Input.FName" class="form-control" />
                        <span asp-validation-for="Input.FName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LName"></label>
                        <input asp-for="Input.LName" class="form-control" />
                        <span asp-validation-for="Input.LName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PermanentAddress"></label>
                        <textarea asp-for="Input.PermanentAddress" class="form-control"></textarea>
                        <span asp-validation-for="Input.PermanentAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PresentAddress"></label>
                        <textarea asp-for="Input.PresentAddress" class="form-control"></textarea>
                        <span asp-validation-for="Input.PresentAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NID"></label>
                        <textarea asp-for="Input.NID" class="form-control"></textarea>
                        <span asp-validation-for="Input.NID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6"><button id="upload-btn" type="submit" class="col-md-6 btn btn-default">Save</button></div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(".dashboard-avater-image").on('hover', function () {
            $('.dashboard-avater-image').css('opacity', '0.8');
        });

        $('#upload-btn').on('click', function () {
            var inputFile = document.getElementById('userAvater');
            var files = inputFile.files[0];
            console.log(files);
            var fdata = new FormData();
            fdata.append("files", files);
            console.log(fdata);
            $.ajax({
                url: '/Identity/Account/Manage',
                data: fdata,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (data) {
                    console.log(data);
                }
            }); // ajax end
        });


    </script>
}
































