@model Project

@{
    ViewData["Title"] = "Create";
}


<div class="create">

    <div class="create-items">
        <p>Have an account? <a class="create-project-login" href="/Identity/Account/Login">Log In</a></p>
        <hr />
        <h3>Please sign up to continue</h3>
        <hr />
        <form method="post" asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>

            <input asp-for="ProjectCategoryId" value="@Model.ProjectCategoryId" hidden />
            <input asp-for="ProjectShortDescription" value="@Model.ProjectShortDescription" hidden />




            <div class="form-group">
                <label asp-for="ProjectTitle" class="control-label"></label>
                <input asp-for="ProjectTitle" class="form-control" />
                @*<span asp-validation-for="ProjectTitle" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRunning" /> @Html.DisplayNameFor(model => model.IsRunning)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCompleted" /> @Html.DisplayNameFor(model => model.IsCompleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NeededFund" class="control-label"></label>
                <input asp-for="NeededFund" class="form-control" />
                <span asp-validation-for="NeededFund" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingDate" class="control-label"></label>
                <input asp-for="StartingDate" class="form-control" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingDate" class="control-label"></label>
                <input asp-for="EndingDate" class="form-control" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default create-btn" />
            </div>
        </form>
        <div class="project-category-foo">
            By signing up, you agree to our terms of use, privacy policy, and cookie policy. Our policies explain how we use your data to deliver, improve, and promote our service and our site, and how you can exercise your rights to control that use.
        </div>
    </div>
</div>


@{

    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}




