@{ 
    Layout = "_Layout";
}
<div class="create-project">

    <div class="create-project-header">
        <h1>Bring your creative project to life.</h1>
        <a href="/Projects/SelectCategory" class="">Start a project</a>
    </div>
    <div class="create-project-image group">
        <div class="create-project-image-1"><img class="create-project-image-1-i" src="~/images/create project 3.jpg" /></div>
        <div class="create-project-image-2">
            <img class="create-project-image-2-i" src="~/images/create project 2.jpg" />
            <img class="create-project-image-2-i" src="~/images/create project 1.jpg" />
        </div>
    </div>    
</div>
<div class="create-project-quotes">
    <h1>
        “ Convey the magic of your project and why you are determined to deliver what you have promised. ”
    </h1>
</div>