@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}
<div class="width100p">
    <div class="regButton">
        <button onclick="asInvestor()">Register as a Investor</button>
        <button onclick="asEntreprenuer()">Register as a Entreprenuer</button>
    </div>

    <div class="regForm regEntreprenuer">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="regForm-form form-horizontal">
            <h4>Create an Entreprenuer account.</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="name" hidden value="Entreprenuer" />

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.FName"></label>
                <div class="col-sm-9"><input asp-for="Input.FName" class="form-control" /></div>
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.LName"></label>
                <div class="col-sm-9"><input asp-for="Input.LName" class="form-control" /></div>
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.Email"></label>
                <div class="col-sm-9"><input asp-for="Input.Email" class="form-control" /></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.DateofBirth"></label>
                <div class="col-sm-9"><input asp-for="Input.DateofBirth" class="form-control" data-validation-format="dd-mm-yyyy" /></div>
                <span asp-validation-for="Input.DateofBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.NID"></label>
                <div class="col-sm-9"><input asp-for="Input.NID" class="form-control" /></div>
                <span asp-validation-for="Input.NID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.PresentAddress"></label>
                <div class="col-sm-9"><input asp-for="Input.PresentAddress" class="form-control" /></div>
                <span asp-validation-for="Input.PresentAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.ParmanantAddress"></label>
                <div class="col-sm-9"><input asp-for="Input.ParmanantAddress" class="form-control" /></div>
                <span asp-validation-for="Input.ParmanantAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.Password"></label>
                <div class="col-sm-9"><input asp-for="Input.Password" class="form-control" /></div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.ConfirmPassword"></label>
                <div class="col-sm-9"><input asp-for="Input.ConfirmPassword" class="form-control" /></div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.CountryId"></label>
                <div class="col-sm-9"><select asp-for="Input.CountryId" class="form-control" asp-items="@ViewBag.Country"></select></div>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default col-sm-offset-3 col-sm-3">Register</button>
        </form>
    </div>

    <div class="regForm regInvestor">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="regForm-form form-horizontal">
            <h4>Create an Investor account.</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="name" hidden value="Investor" />

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.FName"></label>
                <div class="col-sm-9"><input asp-for="Input.FName" class="form-control" /></div>
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.LName"></label>
                <div class="col-sm-9"><input asp-for="Input.LName" class="form-control" /></div>
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.Email"></label>
                <div class="col-sm-9"><input asp-for="Input.Email" class="form-control" /></div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.DateofBirth"></label>
                <div class="col-sm-9"><input asp-for="Input.DateofBirth" class="form-control" /></div>
                <span asp-validation-for="Input.DateofBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.NID"></label>
                <div class="col-sm-9"><input asp-for="Input.NID" class="form-control" /></div>
                <span asp-validation-for="Input.NID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.PresentAddress"></label>
                <div class="col-sm-9"><input asp-for="Input.PresentAddress" class="form-control" /></div>
                <span asp-validation-for="Input.PresentAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.ParmanantAddress"></label>
                <div class="col-sm-9"><input asp-for="Input.ParmanantAddress" class="form-control" /></div>
                <span asp-validation-for="Input.ParmanantAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.Password"></label>
                <div class="col-sm-9"><input asp-for="Input.Password" class="form-control" /></div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.ConfirmPassword"></label>
                <div class="col-sm-9"><input asp-for="Input.ConfirmPassword" class="form-control" /></div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" asp-for="Input.CountryId"></label>
                <div class="col-sm-9"><select asp-for="Input.CountryId" class="form-control" asp-items="@ViewBag.Country"></select></div>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default col-sm-offset-3 col-sm-3">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var asInvestor = function () {
            $(".regInvestor").show(1000);
            $(".regEntreprenuer").hide(1000);
        }
        var asEntreprenuer = function () {
            $(".regInvestor").hide(1000);
            $(".regEntreprenuer").show(1000);
        }
    </script>

}
