<div class="footer">
    <div class="footer-head group">
        <div class="footer-head-child">
            <h3>About</h3>
            <ul>
                <li><a href="/Home/About">About us</a></li>
                <li>Our charter</li>
                <li>Our partners</li>
                <li>Privacy policy</li>
                <li>Careers</li>
            </ul>
        </div>
        <div class="footer-head-child">
            <h3>Support</h3>
            <ul>
                <li>Help center</li>
                <li>Our rules</li>
                <li>Payment system</li>
                <li><a href="https://myself-rijvy.000webhostapp.com/">Creator handbook</a></li>
            </ul>
        </div>
        <div class="footer-head-child">
            <h3>Our blogs</h3>
            <ul>
                <li>CrowdFunding blog</li>
                <li>Newsletter</li>
            </ul>
        </div>
    </div>
    <div class="footer-footer group">
        <div class="footer-footer-left"><p class="footer-footer-left-p" style="color:#fff;font-weight: 700;">&copy; 2018 - CROWDFUNDING</p></div>
        <div class="footer-footer-right">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
</div>