@*@using Microsoft.AspNetCore.Identity

    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <a class="centered-create-project" href="/Projects/CreateProject/">Start a project</a>
    }*@

@*@if ((await AuthorizationService.AuthorizeAsync(User, "Entrepreneur")).Succeeded)
{
    <a class="centered-create-project" href="/Projects/CreateProject/">Start a project</a>
}*@
<a class="centered-create-project" href="/Projects/CreateProject/">Start a project</a>