@{
    ViewData["Title"] = "About";
}
<div class="about">
    <div class="about-h1">
        <h1>
            Our mission is to help bring creative projects to life.
        </h1>
    </div>
    <div class="about-work">
        <h3>
            CrowdFunding  helps artists, musicians, filmmakers, designers, and other creators find the resources and support they need to make their ideas a reality. To date, tens of thousands of creative projects — big and small — have come to life with the support of the community.
        </h3>
    </div>
</div>
