@{
    ViewData["Title"] = "Contact";
}
<div class="contactUs">
    <div class="contactUs-form">
        <form method="post" action="/Home/Contact">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your email here...">
            </div>
            <div class="form-group">
                <label for="email">Email subject:</label>
                <input type="text" class="form-control" name="subject" placeholder="Enter your subject here...">
            </div>
            <div class="form-group">
                <label for="pwd">Message:</label>
                <textarea type="password" class="form-control" name="message" placeholder="Compose here..."></textarea>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </form>
    </div>
</div>