
@{
    ViewData["Title"] = "Works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="works">
    <div class="works-wh">
        <h1>Why do people back projects?</h1>
        <p>
            <q>
                Many backers are rallying around their friends' projects. Some are supporting a new effort from someone they've long admired. Some are just inspired by a new idea, while others are motivated to pledge by a project's rewards — a copy of what's being produced, a limited edition, or a custom experience related to the project.

                Backing a project is more than just pledging funds to a creator and is unlike purchasing items from a shop. It's pledging your support to a creative idea that you want to see exist in the world.
            </q>
        </p>
    </div>
    <div class="works-wh">
        <h1>Where do backers come from?</h1>
        <p>
            <q>
                The majority of initial funding usually comes from the fans and friends of each project. If they like it, they'll spread the word to their friends, and so on.

                Press, blogs, Twitter, Facebook, and Kickstarter itself are also big sources of traffic and pledges. Altogether, millions of people visit Kickstarter every week.
            </q>
        </p>
    </div>
    <div class="works-wh">
        <h1>What do backers get in return?</h1>
        <p>
            <q>
                Backers that support a project on Kickstarter get an inside look at the creative process, and help that project come to life. They also get to choose from a variety of unique rewards offered by the project creator. Rewards vary from project to project, but often include a copy of what is being produced (CD, DVD, book, etc.) or an experience unique to the project.

                Project creators keep 100% ownership of their work, and Kickstarter cannot be used to offer equity, financial returns, or to solicit loans.
            </q>
        </p>
    </div>
</div>

